<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>S</key>
  <string>S_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>three</key>
  <string>three.glif</string>
</dict>
</plist>
